[Desktop Entry]
Name=3proxy
GenericName=
Exec=terminator --command 'sudo 3proxy;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/proxy.png
Categories=proxy
Type=Application
