[Desktop Entry]
Name=airmon-ng
GenericName=
Exec=terminator --command 'sudo airmon-ng --help;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/wireless.png
Categories=wireless
Type=Application
