[Desktop Entry]
Name=airoscript
GenericName=
Exec=terminator --command 'sudo airoscript;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/wireless.png
Categories=wireless
Type=Application
