[Desktop Entry]
Name=airserv-ng
GenericName=
Exec=terminator --command 'sudo airserv-ng --help;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/wireless.png
Categories=wireless
Type=Application
