[Desktop Entry]
Name=angst
GenericName=
Exec=terminator --command 'sudo angst;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
