[Desktop Entry]
Name=apktool
GenericName=
Exec=terminator --command 'sudo apktool;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/mobile.png
Categories=mobile
Type=Application
