[Desktop Entry]
Name=arpwatch
GenericName=
Exec=terminator --command 'sudo arpwatch;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
