[Desktop Entry]
Name=brctl
GenericName=
Exec=terminator --command 'sudo brctl;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/mitm.png
Categories=mitm
Type=Application
