[Desktop Entry]
Name=cewl
GenericName=
Exec=terminator --command 'sudo cewl --help;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/cracker.png
Categories=cracker
Type=Application
