[Desktop Entry]
Name=detect-new-ip6
GenericName=
Exec=terminator --command 'sudo detect-new-ip6;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
