[Desktop Entry]
Name=dhcpcd
GenericName=
Exec=terminator --command 'sudo dhcpcd;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/misc.png
Categories=misc
Type=Application
