[Desktop Entry]
Name=dhcpcd
GenericName=
Exec=terminator --command 'sudo dhcpcd;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/misc.png
Categories=misc
Type=Application
