[Desktop Entry]
Name=dnsrevenum6
GenericName=
Exec=terminator --command 'sudo dnsrevenum6;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
