[Desktop Entry]
Name=dos_mld.sh
GenericName=
Exec=terminator --command 'sudo dos_mld.sh;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
