[Desktop Entry]
Name=dsniff
GenericName=
Exec=terminator --command 'sudo dsniff;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/mitm.png
Categories=mitm
Type=Application
