[Desktop Entry]
Name=extract_hosts6.sh
GenericName=
Exec=terminator --command 'sudo extract_hosts6.sh;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
