[Desktop Entry]
Name=fake_solicitate6
GenericName=
Exec=terminator --command 'sudo fake_solicitate6;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
