[Desktop Entry]
Name=fake_advertise6
GenericName=
Exec=terminator --command 'sudo fake_advertise6;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
