[Desktop Entry]
Name=fake_mldrouter6
GenericName=
Exec=terminator --command 'sudo fake_mldrouter6;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
