[Desktop Entry]
Name=fake_mld26
GenericName=
Exec=terminator --command 'sudo fake_mld26;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
