[Desktop Entry]
Name=fierce.pl
GenericName=
Exec=terminator --command 'sudo fierce.pl;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/footprint.png
Categories=footprint
Type=Application
