[Desktop Entry]
Name=filesnarf
GenericName=
Exec=terminator --command 'sudo filesnarf;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/mitm.png
Categories=mitm
Type=Application
