[Desktop Entry]
Name=fldigi
GenericName=
Exec=terminator --command 'sudo fldigi;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/radio.png
Categories=radio
Type=Application
