[Desktop Entry]
Name=foremost
GenericName=
Exec=terminator --command 'sudo foremost;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/forensics.png
Categories=forensics
Type=Application
