[Desktop Entry]
Name=fsstat
GenericName=
Exec=terminator --command 'sudo fsstat --help;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/forensics.png
Categories=forensics
Type=Application
