[Desktop Entry]
Name=fusil-imagemagick
GenericName=
Exec=terminator --command 'sudo fusil-imagemagick;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/fuzzers.png
Categories=fuzzers
Type=Application
