[Desktop Entry]
Name=fusil-libc-printf
GenericName=
Exec=terminator --command 'sudo fusil-libc-printf;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/fuzzers.png
Categories=fuzzers
Type=Application
