[Desktop Entry]
Name=fusil-python
GenericName=
Exec=terminator --command 'sudo fusil-python;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/fuzzers.png
Categories=fuzzers
Type=Application
