[Desktop Entry]
Name=gr-baz
GenericName=
Exec=terminator --command 'sudo gr-baz;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/radio.png
Categories=radio
Type=Application
