[Desktop Entry]
Name=hashkill
GenericName=
Exec=terminator --command 'sudo hashkill;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/cracker.png
Categories=cracker
Type=Application
