[Desktop Entry]
Name=hivexml
GenericName=
Exec=terminator --command 'sudo hivexml;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/forensics.png
Categories=forensics
Type=Application
