[Desktop Entry]
Name=http-fuzz
GenericName=
Exec=terminator --command 'sudo http-fuzz;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/fuzzers.png
Categories=fuzzers
Type=Application
