[Desktop Entry]
Name=idevicedate
GenericName=
Exec=terminator --command 'sudo idevicedate;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/mobile.png
Categories=mobile
Type=Application
