[Desktop Entry]
Name=ideviceimagemounter
GenericName=
Exec=terminator --command 'sudo ideviceimagemounter;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/mobile.png
Categories=mobile
Type=Application
