[Desktop Entry]
Name=ifuse
GenericName=
Exec=terminator --command 'sudo ifuse;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/mobile.png
Categories=mobile
Type=Application
