[Desktop Entry]
Name=iodine
GenericName=
Exec=terminator --command 'sudo iodine;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/misc.png
Categories=misc
Type=Application
