[Desktop Entry]
Name=istat
GenericName=
Exec=terminator --command 'sudo istat --help;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/forensics.png
Categories=forensics
Type=Application
