[Desktop Entry]
Name=karmeta.sh
GenericName=
Exec=terminator --command 'sudo karmeta.sh;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/wireless.png
Categories=wireless
Type=Application
