[Desktop Entry]
Name=maketh
GenericName=
Exec=terminator --command 'sudo maketh;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/forging.png
Categories=forging
Type=Application
