[Desktop Entry]
Name=make-pdf-embedded
GenericName=
Exec=terminator --command 'sudo make-pdf-embedded;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/exploit.png
Categories=exploit
Type=Application
