[Desktop Entry]
Name=mdk3
GenericName=
Exec=terminator --command 'sudo mdk3 --help;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/wireless.png
Categories=wireless
Type=Application
