[Desktop Entry]
Name=mssqlscan
GenericName=
Exec=terminator --command 'sudo mssqlscan;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/database.png
Categories=database
Type=Application
