[Desktop Entry]
Name=nasm
GenericName=
Exec=terminator --command 'sudo nasm;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/rce.png
Categories=rce
Type=Application
