[Desktop Entry]
Name=nasm
GenericName=
Exec=terminator --command 'sudo nasm;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/rce.png
Categories=rce
Type=Application
