[Desktop Entry]
Name=nbtscan
GenericName=
Exec=terminator --command 'sudo nbtscan;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/scanner.png
Categories=scanner
Type=Application
