[Desktop Entry]
Name=netwag
GenericName=
Exec=terminator --command 'sudo netwag;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/forging.png
Categories=forging
Type=Application
