[Desktop Entry]
Name=ngrep
GenericName=
Exec=terminator --command 'sudo ngrep;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
