[Desktop Entry]
Name=nmbscan
GenericName=
Exec=terminator --command 'sudo nmbscan;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/scanner.png
Categories=scanner
Type=Application
