[Desktop Entry]
Name=ntp-fingerprint
GenericName=
Exec=terminator --command 'sudo ntp-fingerprint;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/footprint.png
Categories=footprint
Type=Application
