[Desktop Entry]
Name=ohrwurm
GenericName=
Exec=terminator --command 'sudo ohrwurm;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/fuzzers.png
Categories=fuzzers
Type=Application
