[Desktop Entry]
Name=osd.sh
GenericName=
Exec=terminator --command 'sudo osd.sh;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/database.png
Categories=database
Type=Application
