[Desktop Entry]
Name=otnsctl.sh
GenericName=
Exec=terminator --command 'sudo otnsctl.sh;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/database.png
Categories=database
Type=Application
