[Desktop Entry]
Name=Paros
Exec=P2TERM -e paros
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/paros.png
Type=Application
