[Desktop Entry]
Name=psm_scan
GenericName=
Exec=terminator --command 'sudo psm_scan;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/bluetooth.png
Categories=bluetooth
Type=Application
