[Desktop Entry]
Name=pyrit
GenericName=
Exec=terminator --command 'sudo pyrit;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/cracker.png
Categories=cracker
Type=Application
