[Desktop Entry]
Name=pyrit
GenericName=
Exec=terminator --command 'sudo pyrit;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/cracker.png
Categories=cracker
Type=Application
