[Desktop Entry]
Name=randicmp6
GenericName=
Exec=terminator --command 'sudo randicmp6;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
