[Desktop Entry]
Name=ratproxy-report.sh
GenericName=
Exec=terminator --command 'sudo ratproxy-report.sh;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/proxy.png
Categories=proxy
Type=Application
