[Desktop Entry]
Name=rdd
GenericName=
Exec=terminator --command 'sudo rdd --help;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/forensics.png
Categories=forensics
Type=Application
