[Desktop Entry]
Name=rdesktop-brute
GenericName=
Exec=terminator --command 'sudo rdesktop-brute;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/cracker.png
Categories=cracker
Type=Application
