[Desktop Entry]
Name=reaver
GenericName=
Exec=terminator --command 'sudo reaver;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/wireless.png
Categories=wireless
Type=Application
