[Desktop Entry]
Name=rtl_power
GenericName=
Exec=terminator --command 'sudo rtl_power;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/radio.png
Categories=radio
Type=Application
