[Desktop Entry]
Name=rtl_adsb
GenericName=
Exec=terminator --command 'sudo rtl_adsb;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/radio.png
Categories=radio
Type=Application
