[Desktop Entry]
Name=set-automate
GenericName=
Exec=terminator --command 'sudo set-automate;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/exploit.png
Categories=exploit
Type=Application
