[Desktop Entry]
Name=set-web
GenericName=
Exec=terminator --command 'sudo set-web;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/exploit.png
Categories=exploit
Type=Application
