[Desktop Entry]
Name=shellstorm.py
GenericName=
Exec=terminator --command 'sudo shellstorm.py;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/exploit.png
Categories=exploit
Type=Application
