[Desktop Entry]
Name=smtp-fuzz
GenericName=
Exec=terminator --command 'sudo smtp-fuzz;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/fuzzers.png
Categories=fuzzers
Type=Application
