[Desktop Entry]
Name=snmp-fuzzer
GenericName=
Exec=terminator --command 'sudo snmp-fuzzer;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/fuzzers.png
Categories=fuzzers
Type=Application
