[Desktop Entry]
Name=spectool_raw
GenericName=
Exec=terminator --command 'sudo spectool_raw;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/wireless.png
Categories=wireless
Type=Application
