[Desktop Entry]
Name=sqlmap
GenericName=
Exec=terminator --command 'sudo sqlmap;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/database.png
Categories=database
Type=Application
