[Desktop Entry]
Name=sslsniff
GenericName=
Exec=terminator --command 'sudo sslsniff;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/mitm.png
Categories=mitm
Type=Application
