[Desktop Entry]
Name=strace
GenericName=
Exec=terminator --command 'sudo strace;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/rce.png
Categories=rce
Type=Application
