[Desktop Entry]
Name=stunnel
GenericName=
Exec=terminator --command 'sudo stunnel;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/misc.png
Categories=misc
Type=Application
