[Desktop Entry]
Name=svreport
GenericName=
Exec=terminator --command 'sudo svreport;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/sip-voip.png
Categories=sip-voip
Type=Application
