[Desktop Entry]
Name=tcpreplay
GenericName=
Exec=terminator --command 'sudo tcpreplay;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
