[Desktop Entry]
Name=testcall
GenericName=
Exec=terminator --command 'sudo testcall;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/sip-voip.png
Categories=sip-voip
Type=Application
