[Desktop Entry]
Name=thcrut
GenericName=
Exec=terminator --command 'sudo thcrut;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/analyzer.png
Categories=analyzer
Type=Application
