[Desktop Entry]
Name=theHarvester.py
GenericName=
Exec=terminator --command 'sudo theHarvester.py;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/footprint.png
Categories=footprint
Type=Application
