[Desktop Entry]
Name=tsk_recover
GenericName=
Exec=terminator --command 'sudo tsk_recover --help;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/forensics.png
Categories=forensics
Type=Application
