[Desktop Entry]
Name=ubertooth-lap
GenericName=
Exec=terminator --command 'sudo ubertooth-lap;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/bluetooth.png
Categories=bluetooth
Type=Application
