[Desktop Entry]
Name=ubertooth-dfu
GenericName=
Exec=terminator --command 'sudo ubertooth-dfu;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/bluetooth.png
Categories=bluetooth
Type=Application
