[Desktop Entry]
Name=upnpscan
GenericName=
Exec=terminator --command 'sudo upnpscan;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/scanner.png
Categories=scanner
Type=Application
