[Desktop Entry]
Name=vncviewer
GenericName=
Exec=terminator --command 'sudo vncviewer;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/misc.png
Categories=misc
Type=Application
