[Desktop Entry]
Name=voiphopper
GenericName=
Exec=terminator --command 'sudo voiphopper;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/sip-voip.png
Categories=sip-voip
Type=Application
