[Desktop Entry]
Name=voiphopper
GenericName=
Exec=terminator --command 'sudo voiphopper;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/sip-voip.png
Categories=sip-voip
Type=Application
