[Desktop Entry]
Name=vomit
GenericName=
Exec=terminator --command 'sudo vomit;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/sip-voip.png
Categories=sip-voip
Type=Application
