[Desktop Entry]
Name=wafp
GenericName=
Exec=terminator --command 'sudo wafp;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/footprint.png
Categories=footprint
Type=Application
