[Desktop Entry]
Name=wafw00f.py
GenericName=
Exec=terminator --command 'sudo wafw00f.py;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/footprint.png
Categories=footprint
Type=Application
