[Desktop Entry]
Name=warvox-launcher
GenericName=
Exec=terminator --command 'sudo warvox-launcher;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/sip-voip.png
Categories=sip-voip
Type=Application
