[Desktop Entry]
Name=wfuzz
GenericName=
Exec=terminator --command 'sudo wfuzz;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/footprint.png
Categories=footprint
Type=Application
