[Desktop Entry]
Name=wifitap
GenericName=
Exec=terminator --command 'sudo wifitap;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/wireless.png
Categories=wireless
Type=Application
