[Desktop Entry]
Name=winexe
GenericName=
Exec=terminator --command 'sudo winexe;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/exploit.png
Categories=exploit
Type=Application
