[Desktop Entry]
Name=xor-enc
GenericName=
Exec=terminator --command 'sudo xor-enc;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/forensics.png
Categories=forensics
Type=Application
