[Desktop Entry]
Name=xor-analyze
GenericName=
Exec=terminator --command 'sudo xor-analyze;/bin/zsh'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/forensics.png
Categories=forensics
Type=Application
