[Desktop Entry]
Name=zmap
GenericName=
Exec=terminator --command 'sudo zmap;when;/bin/bash'
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/spike/pixmaps/scanner.png
Categories=scanner
Type=Application
